<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" th:href="@{images/favicon.png}">
<title>Welcome to FlatShop</title>
<link th:href="@{css/bootstrap.css}" rel="stylesheet">
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100'
	rel='stylesheet' type='text/css'>
<link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="screen" />
<link th:href="@{css/sequence-looptheme.css}" rel="stylesheet" media="all" />
<link th:href="@{/css/style.css}" rel="stylesheet">
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
</head>
<body id="home">
	<div class="wrapper">
	<!-- Th:replace sẽ thay thế đoạn mã này bằng header.html trong layout.html -->
    <div th:replace="layout/header :: header"></div>
    
    
     <!-- Nội dung trang chính -->
     <main>
     	<div class="clearfix"></div>
         <div class="hom-slider">
            <div class="container">
               <div id="sequence">
                  <div class="sequence-prev"><i class="fa fa-angle-left"></i></div>
                  <div class="sequence-next"><i class="fa fa-angle-right"></i></div>
                  <ul class="sequence-canvas">
                     <li class="animate-in">
                        <div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">Paris show 2014</span></div>
                        <div class="flat-caption caption2 formLeft delay400 text-center">
                           <h1>Collection For Winter</h1>
                        </div>
                        <div class="flat-caption caption3 formLeft delay500 text-center">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        </div>
                        <div class="flat-button caption4 formLeft delay600 text-center"><a class="more" href="#">More Details</a></div>
                        <div class="flat-image formBottom delay200" data-duration="5" data-bottom="true"><img src="images/slider-image-01.png" alt=""></div>
                     </li>
                     <li>
                        <div class="flat-caption caption2 formLeft delay400">
                           <h1>Collection For Winter</h1>
                        </div>
                        <div class="flat-caption caption3 formLeft delay500">
                           <h2>Etiam velit purus, luctus vitae velit sedauctor<br>egestas diam, Etiam velit purus.</h2>
                        </div>
                        <div class="flat-button caption5 formLeft delay600"><a class="more" href="#">More Details</a></div>
                        <div class="flat-image formBottom delay200" data-bottom="true"><img src="images/slider-image-02.png" alt=""></div>
                     </li>
                     <li>
                        <div class="flat-caption caption2 formLeft delay400 text-center">
                           <h1>New Fashion of 2013</h1>
                        </div>
                        <div class="flat-caption caption3 formLeft delay500 text-center">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        </div>
                        <div class="flat-button caption4 formLeft delay600 text-center"><a class="more" href="#">More Details</a></div>
                        <div class="flat-image formBottom delay200" data-bottom="true"><img src="images/slider-image-03.png" alt=""></div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="promotion-banner">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="promo-box"><img src="images/promotion-01.png" alt=""></div>
                     </div>
                     <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="promo-box"><img src="images/promotion-02.png" alt=""></div>
                     </div>
                     <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="promo-box"><img src="images/promotion-03.png" alt=""></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="container_fullwidth">
            <div class="container">
               <div class="hot-products">
                  <h3 class="title"><strong>Men</strong> Products</h3>
                  <ul id="MEN">
                     <li>
                        <div class="row">
                           <div class="col-md-3 col-sm-6" th:each="productM : ${productM}">
                              <div class="products">
                                 <div class="thumbnail"><a th:href="@{'/product/' + ${productM.productID}}"><img th:src="@{'/images/product/' + ${productM.category.categoryID} + '/' + ${productM.img}}" style="width: 170px" alt="Product Name"></a></div>
                                 <div class="productname" th:text="${productM.name}"></div>
                                 <h4 class="price" th:text="${#numbers.formatCurrency(productM.price)}"></h4>
                                 <div class="button_group"><a th:href="@{'/product/' + ${productM.productID}}"><button class="button add-cart" type="button" >Add To Cart</button></a><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="pager">
                  <li th:class="${currentPageM == 1 ? 'disabled' : ''}">
                     <a href="#" class="prev-page" th:href="@{${currentPageM > 1} ? ${'?pageM=' + (currentPageM -1)} : ''}">
                        <i class="fa fa-angle-left">
                        </i>
                     </a>
                  </li>
                  <li th:each="i : ${#numbers.sequence(1, totalPagesM)}"
                      >
                     <a th:class="${currentPageM == i ? 'active' : ''}" th:href="@{'?pageM=' +${i}}"  th:text="${i}">

                     </a>
                  </li>
                  <li th:class="${currentPageM == totalPagesM ? 'disabled' : ''}">
                     <a href="#" class="next-page" th:href="@{${currentPageM < totalPagesM} ? ${'?pageM=' + (currentPageM +1)} : ''}">
                        <i class="fa fa-angle-right">
                        </i>
                     </a>
                  </li>
               </div>
               <div class="clearfix"></div>
               <div class="featured-products">
                  <h3 class="title"><strong>Women </strong> Products</h3>
                  <ul id="hot">
                     <li>
                        <div class="row">
                           <div class="col-md-3 col-sm-6" th:each="productW : ${productW}">
                              <div class="products">
                                 <div class="thumbnail">
                                    <a th:href="@{'/product/' + ${productW.productID}}"><img th:src="@{'/images/product/' + ${productW.category.categoryID} + '/' + ${productW.img}}" style="width: 170px" alt="Product Name"></a></div>
                                 <div class="productname" th:text="${productW.name}"></div>
                                 <h4 class="price" th:text="${#numbers.formatCurrency(productW.price)}"></h4>
                                 <div class="button_group"><a th:href="@{'/product/' + ${productW.productID}}"> <button class="button add-cart" type="button"  >Add To Cart</button> </a><button class="button compare" type="button"> </a><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="pager"  >
                  <li th:class="${currentPageW == 1 ? 'disabled' : ''}" >
                     <a onclick="handlepaying()" href="#" class="prev-page" th:href="@{${currentPageW > 1} ? ${'?pageW=' + (currentPageW -1)} : ''}">
                        <i class="fa fa-angle-left">
                        </i>
                     </a>
                  </li>
                  <li th:each="i : ${#numbers.sequence(1, totalPagesW)}">
                     <a onclick="handlepaying()" th:class="${currentPageW == i ? 'active' : ''}" th:href="@{'?pageW=' +${i}}"  th:text="${i}" >
                     </a>
                  </li>
                  <li th:class="${currentPageW == totalPagesW ? 'disabled' : ''}">
                     <a onclick="handlepaying()" href="men" class="next-page" th:href="@{${currentPageW < totalPagesW} ? ${'?pageW=' + (currentPageW +1)} : ''}">
                        <i class="fa fa-angle-right">
                        </i>
                     </a>
                  </li>
               </div>
               <div class="clearfix"></div>
               <div class="our-brand">
                  <h3 class="title"><strong>Our </strong> Brands</h3>
                  <div class="control"><a id="prev_brand" class="prev" href="#">&lt;</a><a id="next_brand" class="next" href="#">&gt;</a></div>
                  <ul id="braldLogo">
                     <li>
                        <ul class="brand_item">
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/envato.png" alt=""></div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/themeforest.png" alt=""></div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/photodune.png" alt=""></div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/activeden.png" alt=""></div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/envato.png" alt=""></div>
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <ul class="brand_item">
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/envato.png" alt=""></div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/themeforest.png" alt=""></div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/photodune.png" alt=""></div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/activeden.png" alt=""></div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="brand-logo"><img src="images/envato.png" alt=""></div>
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
     </main>
     
     <!-- Th:replace sẽ thay thế đoạn mã này bằng footer.html trong layout.html -->
    <div th:replace="layout/footer :: footer"></div>
    
    </div>
    
	<!-- Bootstrap core JavaScript==================================================-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" th:src="@{js/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript" th:src="@{js/jquery.easing.1.3.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{js/jquery.sequence-min.js}"></script>
	<script type="text/javascript"
		th:src="@{js/jquery.carouFredSel-6.2.1-packed.js}"></script>
	<script defer th:src="@{js/jquery.flexslider.js}"></script>
	<script type="text/javascript" th:src="@{js/script.min.js}"></script>
    <script>
       function addToCart(productID){
          var endpoint = 'api/cart/update?productID='+ productID + '&quantity=1&isReplace=false';
          $.ajax({
             url: endpoint,
             type:'GET',
             dataType: 'json',
             success: function (data){
                $('#headerToTalPrice').text(numberWithDot(data.totalPrice));
                $('#headerToTalQuantity').text(data.totalQuantity);
                alert("Đã thêm")
             },
             error: function (data){
                alert('Thêm mới thất bại');
             }
          })
          function numberWithDot(x){
             return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") +' ₫';
          }
       }
    </script>
<script>
   window.onload = () => {
      location.href.includes("pageW") && window.scrollBy(0, 1090.4000244140625) ;
      location.href.includes("pageM") && window.scrollBy(0, 564) ;

   }
</script>
</body>
</html>