<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1">
<title>Modern Admin Dashboard</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">


<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/fontawesome-free/css/all.min.css}">
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
<!-- iCheck -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
<!-- JQVMap -->
<link rel="stylesheet" th:href="@{/admin/plugins/jqvmap/jqvmap.min.css}">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
<!-- overlayScrollbars -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
<!-- Daterange picker -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/daterangepicker/daterangepicker.css}">
<!-- summernote -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/summernote/summernote-bs4.min.css}">
</head>


<body ng-app="admin-app">
	<div id="handle">
		<section class="row"
			style="position: absolute; left: 34vw; top: 10vh;">
			<div class="col-12">
				<form action="" method="post">
					<div class="card">
						<i id="exit" class="fa-solid fa-x" style="margin-left: 37vw;"></i>

						<div class="card-body">
							<div class="row">
								<div class="col">

									<div class="form-group">
										<label for="email">Email</label> <input type="text"
											class="form-control" name="email" id="email"
											aria-describedby="emailhelpId" placeholder="Email">

									</div>
									<div class="form-group">
										<label for="Phone">Phone</label> <input type="text"
											class="form-control" name="Phone" id="Phone"
											placeholder="Phone">
									</div>
									<div class="form-group">
										<label for="date">Created Date</label> <input type="text"
											class="form-control" name="date" id="date"
											aria-describedby="datehelpId" placeholder="Created Date">
									</div>
									<div class="form-group">
										<label for="Deleted">privilege</label>
										<fieldset>
											<input type="radio" id="Admin" name="privilege" value="Admin"
												checked> <label for="Admin">Admin</label> <input
												type="radio" id="User" name="privilege" value="User">
											<label for="User">Staff</label>
										</fieldset>
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="">username</label> <input type="text"
											class="form-control" name="username" id="username"
											aria-describedby="usernamehelpId" placeholder="username">
									</div>
									<div class="form-group">
										<label for="">password</label> <input type="password"
											class="form-control" name="password" id="password"
											placeholder="password">
									</div>
									<div class="form-group">
										<label for="confirmpass">confirm pass</label> <input
											type="text" class="form-control" name="confirmpass"
											id="confirmpass" aria-describedby="confirmpasshelpId"
											placeholder="confirm pass">
									</div>
									<div class="form-group">
										<label for="Address">Address</label> <input type="text"
											class="form-control" name="Address" id="Address"
											aria-describedby="AddresshelpId" placeholder="Address">
									</div>

								</div>
							</div>
						</div>
						<div class="card-footer">
							<button class="btn">create</button>
							<button class="btn">update</button>
							<button class="btn">delete</button>
							<button class="btn">reset</button>
						</div>
					</div>

				</form>
		</section>
	</div>
	<input type="checkbox" id="menu-toggle">
	<div th:replace="admin/sidemenu :: div"></div>
	<div class="main-content">
		<header>
			<div class="header-content">
				<label for="menu-toggle"> <span class="las la-bars"></span>
				</label>

				<div class="header-menu">
					<label for=""> <span class="las la-search"></span>
					</label>

					<div class="notify-icon">
						<span class="las la-envelope"></span> <span class="notify">4</span>
					</div>

					<div class="notify-icon">
						<span class="las la-bell"></span> <span class="notify">3</span>
					</div>

					<div class="user">
						<div class="bg-img" style="background-image: url(img/1.jpeg)"></div>

						<span class="las la-power-off"></span> <span><a
							th:href="@{/logout}" class="log">Logout</a></span>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="page-header">
				<h1>Users Management</h1>
				<small>Home / Sales Graph</small>
			</div>

			<section class="col-lg-12 connectedSortable">
				<!-- solid sales graph -->
				<div class="card">
					<div class="card-header border-0">
						<h3 class="card-title">
							<i class="fas fa-th mr-1"></i> Sales Graph
						</h3>

						<div class="card-tools">
							<button type="button" class="btn bg-info btn-sm"
								data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
							<button type="button" class="btn bg-info btn-sm"
								data-card-widget="remove">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<canvas id="canvasChart"
							style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
					</div>
				</div>
			</section>
			<section class="col-lg-12 connectedSortable">
				<!-- solid sales graph -->
				<div class="card">
					<div class="card-header border-0">
						<h3 class="card-title">
							<i class="fas fa-th mr-1"></i> Sales Graph
						</h3>

						<div class="card-tools">
							<button type="button" class="btn bg-info btn-sm"
									data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
							<button type="button" class="btn bg-info btn-sm"
									data-card-widget="remove">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<canvas id="canvasChartProduct"
								style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
					</div>
				</div>
			</section>
		</main>

	</div>
</body>

</script>
<script src="/admin/authorities/authority-ctrl.js"></script>
<script src="/admin/admin-app.js"></script>

<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jquery-ui/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- ChartJS -->
<script th:src="@{/admin/plugins/chart.js/Chart.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/admin/plugins/sparklines/sparkline.js}"></script>
<!-- JQVMap -->
<script th:src="@{/admin/plugins/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{/admin/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/admin/plugins/jquery-knob/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script th:src="@{/admin/plugins/moment/moment.min.js}"></script>
<script th:src="@{/admin/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script
	th:src="@{/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
<!-- Summernote -->
<script th:src="@{/admin/plugins/summernote/summernote-bs4.min.js}"></script>
<!-- overlayScrollbars -->
<script
	th:src="@{/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/admin/dist/js/demo.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/admin/dist/js/pages/dashboard.js}"></script>
<script th:inline="javascript">
/*<![CDATA][*/
var totalPriceLast6Months = /*[[${chartData}]]*/ 'default';
/*]]>*/
const ctx = document.getElementById('canvasChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: totalPriceLast6Months[0],
        datasets: [{
            label: ' Doanh thu',
            data: totalPriceLast6Months[1],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
    	responsive: true,
    	maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false,
                    callback: function(value, index, values) {
                        return value.toLocaleString("vi-VN",{style:"currency", currency:"VND"});
                      }
                }
            }]
        }
    }
});
</script>
<script th:inline="javascript">
	/*<![CDATA][*/
	var productTotal = /*[[${productTotal}]]*/ 'default';
	/*]]>*/
	const ctx1 = document.getElementById('canvasChartProduct').getContext('2d');
	const myChart1 = new Chart(ctx1, {
		type: 'bar',
		data: {
			labels: productTotal[0],
			datasets: [{
				label: 'Số lượng',
				data: productTotal[1],
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			responsive: true,
			maintainAspectRatio: false,
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: false,
					}
				}]
			}
		}
	});
</script>
</html>