<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1">
<title>Modern Admin Dashboard</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
	<div id="handle">
		<section class="row"
			style="position: absolute; left: 34vw; top: 10vh;">
			<div class="col-12">
				<form th:action="@{/admin/status/new}" method="post"
					th:object="${status}">
					<div class="card">
						<i id="exit" class="fa-solid fa-x" style="margin-left: 37vw;"></i>

						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="email">OrderID</label> <input type="text"
											class="form-control" name="orderID" id=""
											aria-describedby="orderID" placeholder="OrderID"
											th:field="*{statusID}">

									</div>
									<div class="form-group">
										<label for="email">Status</label> <select
											th:field="*{statusname}"
											style="height: 35px; border: 1px solid #b0b0b0; border-radius: 3px; display: inline-block; width: 250px; padding: 0rem .5rem; margin-right: .8rem; color: #666;">
											<option th:value="New" th:text="New"></option>
											<option th:value="WaitForConfirmation">Wait for
												confirmation</option>
											<option th:value="Shipping">Shipping</option>
											<option th:value="OutofStock">Out of Stock</option>
											<option th:value="CustomerCancels">Customer Cancels</option>
											<option th:value="Complete">Complete</option>
											<option th:value="InComplete">InComplete</option>
										</select>

									</div>
									<div class="form-group">
										<label for="Phone">Reason</label> <input type="text"
											class="form-control" name="reason" id="reason"
											placeholder="Reason" th:field="*{reason}">
									</div>

								</div>
								<div class="col">
									<div class="form-group">
										<label for="">Notes</label> <input type="text"
											class="form-control" name="notes" id="notes"
											aria-describedby="noteshelpId" placeholder="notes"
											th:field="*{notes}">
									</div>

									<div class="form-group">
										<label for="transportFee">Transport Fee</label> <input
											type="text" class="form-control" name="transportFee"
											id="transportFee" th:field="*{transportFee}"
											/>

									</div>

									<div class="form-group">
										<label for="Address">Fee Collected From Customer</label> <input
											type="text" class="form-control" name="feeCollected"
											id="feeCollected" aria-describedby="feeCollectedhelpId"
											placeholder="Fee Collected From Customer"
											th:field="*{feeCollected}">
									</div>

								</div>
							</div>
						</div>
						<div class="card-footer">

							<button class="btn">update</button>
							<button class="btn">
								<a th:href="@{/admin/status}">Reset</a>
							</button>
						</div>
					</div>

				</form>
		</section>
	</div>
	<input type="checkbox" id="menu-toggle">
	<div th:replace="admin/sidemenu :: div"></div>
	<div class="main-content">
		<header>
			<div class="header-content">
				<label for="menu-toggle"> <span class="las la-bars"></span>
				</label>

				<div class="header-menu">
					<label for=""> <span class="las la-search"></span>
					</label>

					<div class="notify-icon">
						<span class="las la-envelope"></span> <span class="notify">4</span>
					</div>

					<div class="notify-icon">
						<span class="las la-bell"></span> <span class="notify">3</span>
					</div>

					<div class="user">
						<div class="bg-img" style="background-image: url(img/1.jpeg)"></div>

						<span class="las la-power-off"></span> <span>Logout</span>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="page-header">
				<h1>Status Management</h1>
				<small>Home / Status</small>
			</div>
			<div class="page-content">

				<div class="records table-responsive">
					<div class="record-header">
						<div class="add">
							<span>Entries</span> <select name="" id="">
								<option value="">ID</option>
							</select>
							<button id="Addrecord">Edit Status</button>
						</div>

						<div class="browse">
							<form th:action="@{/admin/search}" method="get">
								<input type="search" placeholder="Search" class="record-search"
									name="keyword">
								<button type="submit">Search</button>
							</form>

						</div>
					</div>
					<div>
						<table width="100%">
							<thead>
								<tr>
									<th><span class="las la-sort"></span> OrderID</th>
									<th><span class="las la-sort"></span> Status</th>
									<th><span class="las la-sort"></span> Reason</th>
									<th><span class="las la-sort"></span> Notes</th>
									<th><span class="las la-sort"></span> Date Complete</th>
									<th><span class="las la-sort"></span> Transport Fee</th>
									<th><span class="las la-sort"></span> Fee Collected From
										Customer</th>
									<th></th>
								</tr>
							</thead>


							<tbody>
								<tr th:each="p: ${statuss}">
									<td>[[${p.statusID}]]</td>
									<td>[[${p.statusname}]]</td>
									<td>[[${p.reason}]]</td>
									<td>[[${p.notes}]]</td>
									<td th:text="${#dates.format(p.dateComplete, 'dd/MM/yyyy')}"></td>
									<td
										th:text="${#numbers.formatDecimal(p.transportFee, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>

									<td
										th:text="${#numbers.formatDecimal(p.feeCollected, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
									<td><a
										th:href="@{/admin/status/edit/{statusID}(statusID=${p.statusID})}">Edit</a></td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>

			</div>

		</main>

	</div>
</body>
<script>
        const Add = document.querySelector("#Addrecord")
        const handleclick = () => {
            handle.classList.toggle("handle")
        }
        Add.addEventListener("click",handleclick)
        document.querySelector("#exit").addEventListener("click",()=>{
            // const handle = document.querySelector(".handle")
            handle.classList.remove("handle")
        })
        
    </script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</html>